.ui-icon-qncb {
	background: url('../../images/qncb.png') no-repeat 0 0;
	background-size: cover;
}

.ui-icon-xxbg {
	background: url('../../images/xxbg.png') no-repeat 0 0;
	background-size: cover;
}

.ui-icon-wfwz {
	background: url('../../images/wfwz.png') no-repeat 0 0;
	background-size: cover;
}

.ui-icon-news {
	background: url('../../images/news.png') no-repeat 0 0;
	background-size: cover;
}

.ui-icon-notice {
	background: url('../../images/notice.png') no-repeat 0 0;
	background-size: cover;
}

.ui-icon-zcfg {
	background: url('../../images/zcfg.png') no-repeat 0 0;
	background-size: cover;
}

.ui-icon-nszn {
	background: url('../../images/nszn.png') no-repeat 0 0;
	background-size: cover;
}

.ui-icon-sscx {
	background: url('../../images/sscx.png') no-repeat 0 0;
	background-size: cover;
}

.ui-icon-sl {
	background: url('../../images/sl.png') no-repeat center center;
	background-size: cover;
}

.ui-icon-hf {
	background: url('../../images/hf.png') no-repeat center center;
	background-size: cover;
}

.ui-icon-ks {
	background: url('../../images/ks.png') no-repeat center center;
	background-size: cover;
}

.ui-icon-mx {
	background: url('../../images/mx.png') no-repeat center center;
	background-size: cover;
}

.ui-icon-fxt {
	background: url('../../images/fxt.png') no-repeat center center;
	background-size: cover;
}

.ui-icon-dhf {
	background: url('../../images/dhf.png') no-repeat center center;
	background-size: cover;
}

.ui-icon-yhf {
	background: url('../../images/yhf.png') no-repeat center center;
	background-size: cover;
}

.ui-icon-hslr {
	background: url('../../images/hslr.png') no-repeat center center;
	background-size: cover;
}

.ui-icon-todo {
	background: url('../../images/todo.png') no-repeat center center;
	background-size: cover;
}

.ui-icon-doing {
	background: url('../../images/doing.png') no-repeat center center;
	background-size: cover;
}

.ui-icon-done {
	background: url('../../images/done.png') no-repeat center center;
	background-size: cover;
}

/*锟斤拷锟绞�/
.ui-icon-dhs {
	background: url('../../images/dhs.png') no-repeat center center;
	background-size: cover;
}

/*锟窖猴拷实*/
.ui-icon-yhs {
	background: url('../../images/yhs.png') no-repeat center center;
	background-size: cover;
}

/*一锟斤拷式*/
.ui-icon-yhus {
	background: url('../../images/yhus.png') no-repeat center center;
	background-size: cover;
}

/*锟届导锟斤拷锟斤拷*/
.ui-icon-ldxx {
	background: url('../../images/icon-png/ldxx.png') no-repeat center
		center;
	background-size: cover;
}

/*锟届导锟斤拷锟斤拷*/
.ui-icon-lddb {
	background: url('../../images/icon-png/lddb.png') no-repeat center
		center;
	background-size: cover;
}

/*锟斤拷锟斤拷*/
.ui-icon-kq {
	background: url('../../images/icon-png/kq.png') no-repeat center center;
	background-size: cover;
}

/*锟斤拷锟�/
.ui-icon-qj {
	background: url('../../images/icon-png/qj.png') no-repeat center center;
	background-size: cover;
}

/*税锟今考筹拷*/
.ui-icon-swkc {
	background: url('../../images/icon-png/swkc.png') no-repeat center
		center;
	background-size: cover;
}

/*锟斤拷询*/
.ui-icon-zx {
	background: url('../../images/icon-png/zx.png') no-repeat center center;
	background-size: cover;
}

/*锟劫憋拷*/
.ui-icon-jb {
	background: url('../../images/icon-png/jb.png') no-repeat center center;
	background-size: cover;
}

/*投锟斤拷*/
.ui-icon-ts {
	background: url('../../images/icon-png/ts.png') no-repeat center center;
	background-size: cover;
}

.ui-icon-swgc {
	background: url('../../images/svg/swgc.svg') no-repeat center center;
	background-size: cover;
}

.ui-icon-wdgz {
	background: url('../../images/svg/wdgz.svg') no-repeat center center;
	background-size: cover;
}

.ui-icon-sw {
	background: url('../../images/svg/sw.svg') no-repeat center center;
	background-size: cover;
}

.ui-icon-nsyy {
	background: url('../../images/svg/nsyy.svg') no-repeat center center;
	background-size: cover;
}

.ui-icon-more {
	background: url('../../images/svg/more.svg') no-repeat center center;
	background-size: cover;
}

.ui-icon-people {
	background: url('../../images/svg/people.svg') no-repeat center center;
	background-size: cover;
}

.ui-icon-login {
	background: url('../../images/svg/login.svg') no-repeat center center;
	background-size: cover;
}

.ui-icon-xxhs {
	background: url('../../images/icon-png/xxhs.png') no-repeat center center;
	background-size: cover;
}